<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Tarea 1</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index_style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="menu_container">
            <h1 id="index_title">Bienvenid@</h1>
            <hr>
            <div class="buttons">
                <button type="button" id="addActivityBtn">Agregar actividad</button>
                <button type="button" id="listActivityBtn">Ver listado de actividades</button>
                <button type="button" id="statsBtn">Estadísticas</button>
                {% if request.args.get("message") %}
                    <p class="added_activity">{{ request.args.get("message") }}</p>
                {% endif %}
            </div>
        </div>

            


        <div class="table_container">
            <table id="activity_table">
                <thead>
                    <tr>
                        <th>Inicio</th>
                        <th>Término</th>
                        <th>Comuna</th>
                        <th>Sector</th>
                        <th>Tema</th>
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody id="activity_list">
                    {% for activity in activities %}
                    <tr>
                        <td>{{ activity.dia_hora_inicio }}</td>
                        <td>{{ activity.dia_hora_termino }}</td>
                        <td>{{ activity.comuna }}</td>
                        <td>{{ activity.sector }}</td>
                        <td>{{ activity.temas }}</td>
                        <td>
                            {% if activity.foto %}
                            <div class="foto-container">
                                {% for ruta in activity.foto %}
                                    <img src="{{ url_for('static', filename='uploads/' + ruta) }}" alt="Foto de actividad" class="activity_image" width="100">
                                {% endfor %}
                            </div>
                            {% else %}
                                Sin foto
                            {% endif %}
                        </td>                    
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>
        </div>
        <script lang="javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>