<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Tarea 1</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stats_style.css') }}">
    </head>
    <body>
        <h1 id="stats_title">Estadísticas de Actividades</h1>
        <div class="stats-container">
            <div class="graficos">
                <figure class="highcharts-figure">
                    <div id="container1"></div>
                    <p class="highcharts-description">
                        Gráfico de líneas que muestra la cantidad de actividades por día.
                    </p>
                </figure>
            </div>
            <div class="graficos">
                <figure class="highcharts-figure">
                    <div id="container2"></div>
                    <p class="highcharts-description">
                        Gráfico de torta que muestra la cantidad de actividades por tipo.
                    </p>
                </figure>
            </div>
            <div class="graficos">
                <figure class="highcharts-figure">
                    <div id="container3"></div>
                    <p class="highcharts-description">
                        Gráfico de barras que muestra la cantidad de actividades por mes y horario.
                    </p>
                </figure>
            </div>
        </div>

        <button id="btnVolver" class="btnVolver" onclick="location.href='/'">Volver</button>
        
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
    </body>
</html>